.avatar {
    position: relative;
    width: 100vw;
    overflow: hidden;    
}
.order-area {
    position: relative;
    display: flex;
    justify-content: center;
    .order-btn {
        --background: #fff;
        --border-radius: 50%;
        --box-shadow: none;
        --border-width: 1px;
        --border-style: solid;
        --border-color: #6b6b6b;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -25px;
        ion-icon {
            color: #6b6b6b;
            font-size: 21px;
        }
    }
}

.header {
    padding-top: 5px;
    .name-area {
        width: 50vw;
        float: left;
        padding: 16px;
        line-height: 24px;
        .name {
            font-size: 22px;
        }
        .age {
            opacity: 0.8;
        }
    }
    .actions {
        width: 50vw;
        float: right;
        padding: 0 10px;
        text-align: right;
        ion-icon {
            color: #f31a9f;
            width: 5rem;
            font-size: 30px;
        }
        .likes {
            opacity: 0.8;
        }
    }
}

.content {
    clear: both;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}

.address {
    border-bottom: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
    p {
        padding: 0 20px;
    }
    .hobby {
        border: 1px solid #ccc;
        border-radius: 14px;
        display: inline-flex;
        justify-content: center;
        padding: 5px 15px;
        margin: 5px;
    }
}

.cards {
    .action-card {
        margin: 0px;
        box-shadow: none;
        border-radius: 0px;
        border-bottom: 1px solid #ccc;
        .avatar {
            h3 {
                margin-bottom: 0;
            }
        }
        .images {
            position: relative;
            height: 100vw;
            overflow: hidden;
            line-height: 0px;
            img {
                border: 1px solid #fff;
                object-fit: cover;
            }
        }
        .footer {
            float: right;
            margin-bottom: 16px;
            ion-button {
                font-weight: 400;
            }
            ion-icon {
                font-size: 24px;
                margin-right: 5px;
            }
            .active {
                color: #f31a9f;
            }
        }
    }
    .action-card:last-child {
        border: none;
    }
}