<ion-content>
    <div class="avatar">
        <img src="https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=642&q=80">
        <ion-button class="order-btn">
            <ion-icon slot="icon-only" name="reorder-two-outline"></ion-icon>
        </ion-button>
    </div>
    <div class="header">
        <div class="name-area">
            <div class="name">Lê Đức Trung</div>
            <div class="age">Nam, 25 tuổi</div>
        </div>
        <div class="actions">
            <div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <div class="likes">25 lượt thích</div>
        </div>
    </div>
    <ion-card-content class="content">
        Đôi khi chúng ta không hiểu rõ kết quả của những việc mình đã làm, thế nên cứ chuốc lấy những nỗi buồn không đáng có. Ai cũng muốn hạnh phúc nhưng "no pain no gain", phải trải qua cơn mưa mới thấy cầu vồng.
    </ion-card-content>
    <div class="address">
        <p>Đang ở Hoàng Mai, Hà Nội</p>
        <p>Làm việc tại Colo dating</p>
        <p>Từng học tại Đại học Lâm Nghiệp</p>
        <div class="hobby">Chơi Game</div>
        <div class="hobby">Đọc Sách</div>
        <div class="hobby">Nghe Nhạc</div>
        <div class="hobby">Nhiếp Ảnh</div>
        <div class="hobby">Ăn uống</div>
    </div>
    <ion-list class="cards">
        <ion-card class="action-card">
            <div class="images" appFilledImages>
                <img src="https://images.unsplash.com/photo-1504853593898-da2df34488ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            </div>
            <ion-card-content briefContent>
                Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
            <div class="footer">
                <ion-buttons slot="end">
                    <ion-button>
                        <ion-icon class="active" name="heart-outline"></ion-icon>123
                    </ion-button>
                    <ion-button>
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>43
                    </ion-button>
                    <ion-button>
                        <ion-icon name="share-social-outline"></ion-icon>3
                    </ion-button>
                </ion-buttons>
            </div>
        </ion-card>
        <ion-card class="action-card">
            <div class="images" appFilledImages>
                <img src="https://images.unsplash.com/photo-1579685056453-98739f198b87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80" />
                <img src="https://images.unsplash.com/photo-1504853593898-da2df34488ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
                <img src="https://images.unsplash.com/photo-1488893441583-0054a3aca255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            </div>
            <ion-card-content briefContent>
                Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
            <div class="footer">
                <ion-buttons slot="end">
                    <ion-button>
                        <ion-icon class="active" name="heart-outline"></ion-icon>123
                    </ion-button>
                    <ion-button>
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>43
                    </ion-button>
                    <ion-button>
                        <ion-icon name="share-social-outline"></ion-icon>3
                    </ion-button>
                </ion-buttons>
            </div>
        </ion-card>
    </ion-list>
</ion-content>