<ion-header class="header">
    <ion-toolbar>
        <ion-title>
            <div class="title">Quay lại</div>
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="post">
                Đăng ngay
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="avatar">
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1514813482567-2858e6c00ee1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </ion-avatar>
            <ion-label>
                <div class="name">Lê Trung Đức</div>
                <div class="actions">
                    <ion-button size="small">
                        <ion-icon name="earth-outline"></ion-icon>Công khai
                    </ion-button>
                    <ion-button size="small">
                        <ion-icon name="add-outline"></ion-icon>Nhật ký
                    </ion-button>
                </div>
            </ion-label>
        </ion-item>
    </div>
    <ion-card class="action-card">
        <ion-card-content>
            <div class="content" #content contenteditable="true" placeholder="Viết gì đó..."></div>
        </ion-card-content>
        <div class="images" appFilledImages>
            <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            <img src="https://images.unsplash.com/photo-1474073705359-5da2a8270c64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            <img src="https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            <img src="https://images.unsplash.com/photo-1595959183082-7b570b7e08e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            <img src="https://images.unsplash.com/photo-1504730030853-eff311f57d3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
            <img src="https://images.unsplash.com/photo-1504730030853-eff311f57d3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        </div>
        <div class="footer">
            <ion-button size="small" class="more-images">
                Thêm ảnh
            </ion-button>
            <ion-button size="small" class="tag">
                Gắn thẻ
            </ion-button>
        </div>
    </ion-card>
</ion-content>
<ion-footer>
    <app-message-box disable-textbox="true" [odoc]="content"></app-message-box>
</ion-footer>