div.action-area {
    position: absolute;
    transition: top 0.2s;
    transition-timing-function: ease;
    top: -56px;
    ion-toolbar {
        height: 56px;
        padding: 0 5px;
        div.editable {
            padding: 10px 12px;
            background-color: #fff;
            line-height: 26px;
            overflow: hidden;
            outline: none;
            height: 46px;
        }
        div.editable:focus {
            border-color: aqua;
        }
        [contenteditable=true]:empty:before {
            color: #ccc;
            content: attr(placeholder);
            display: block;
            /* For Firefox */
            white-space: pre-wrap;
        }
    }
}

// photos selection
.column {
    float: left;
    width: 25%;
    padding: 10px;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}