<div class="action-area">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="face" (click)="onChangeEmoji()">
                <div class="face-icon"></div>
            </ion-button>
        </ion-buttons>
        <div *ngIf="!disableTextBox" id="textBox" class="editable" contenteditable="true" placeholder="Viết gì đó..." ng-readonly="true"></div>
        <ion-buttons class="secondary" slot="secondary">
            <ion-button class="send" *ngIf="!disableSendBtn" (click)="post()">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div style="line-height: 0;">
        <emoji-mart [backgroundImageFn]="backgroundImageFn" [style]="{width:'100vw','border-radius':'0'}" [showPreview]="false" [enableSearch]="true" [showSingleCategory]="true" (emojiClick)="addEmoji($event)">
        </emoji-mart>
    </div>
</div>