div.action-area {
    position: absolute;
    transition: top 0.2s;
    transition-timing-function: ease;
    top: -56px;
    ion-toolbar {
        --background: #e6e6e6;
        height: 56px;
        padding: 0 5px;
        div.editable {
            padding: 10px 6px;
            background-color: #e6e6e6;
            line-height: 26px;
            overflow: hidden;
            outline: none;
            height: 46px;
        }
        div.editable:focus {
            border-color: aqua;
        }
        [contenteditable=true]:empty:before {
            content: attr(placeholder);
            display: flex;
            align-items: center;
        }
        ion-button.face {
            --padding-start: 0;
            --padding-end: 0;
            div.face-icon {
                width: 36px;
                height: 36px;
                display: inline-block;
                background-image: url('../../../assets/images/icons-v3.png');
                background-size: 5700% 5700%;
                background-position: 55.3571% 1.78571%;
                margin: 0px;
                vertical-align: middle;
            }
        }
        .secondary {
            margin-bottom: 3px;
            ion-button.send {
                --color: #f31a9f;
                font-size: 21px;
                margin-bottom: 5px;
                transform: rotate(-30deg);
            }
        }
    }
}

// photos selection
.column {
    float: left;
    width: 25%;
    padding: 10px;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}